@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  
}

.container {
  background: url('https://source.unsplash.com/random') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-rows: 1fr auto 2fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

navbar-element {
  grid-area: nav;
}

main {
  grid-area: main;
  margin: 1rem;
}

footer {
  background: white;
  box-shadow: 0px -10px 5px 0px rgba(0,0,0,0.5);
  grid-area: footer;
}
