@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background: url('https://source.unsplash.com/random') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  font-family: "Roboto";
  font-weight: bolder;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
